cms-content/
demos/
modules/
module-sources/*
vc-build/
vc-deploy-*/
vc-docs/
vc-frontend/
vc-modules/
vc-platform/
vc-shell/
VirtoCommerce.Platform/

.env
vc-platform.secrets.json

virtocommerce_elastic-certs.tar.gz
virtocommerce_mssql.tar.gz